.qualification {align-self: stretch;
    flex-grow: 1;
    padding-left: 50px;
  display: flex;
}
    .qualification-page {display: flex;
        height: 150px;
        width: 544px;
        padding-top: 11px;
        padding-left: 50px;
        padding-right: 50px;
        flex-direction: row;
         justify-content: space-between;
          align-items: center;
        display: flex;}
  .development {height: 150px;   
    width: 150px;
    padding: 10px ;
   display: flex;
   justify-content: space-between;
   flex-direction: column;}
   .pict {display: flex;
  flex-direction: row;
justify-content: space-between;
gap: 10px;}